<html>
    <head>
        <title>Eduteca</title>
 
        <link href="{{ asset('bundles/eduteca/admin/js/extjs/resources/css/ext-all.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/eduteca/admin/css/eduteca.css') }}" type="text/css" rel="stylesheet" />
        
        <script src="{{ asset('bundles/eduteca/admin/js/extjs/ext-all-debug.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/eduteca/admin/js/extjs/locale/ext-lang-es.js') }}" type="text/javascript"></script>
        
        <!-- Plugins -->
        <script src="{{ asset('bundles/eduteca/admin/js/extjs/plugins/ActionButtonColumn.js') }}" type="text/javascript"></script>
        
        <!-- Application -->
        <script src="{{ asset('bundles/eduteca/admin/js/eduteca.js') }}" type="text/javascript"></script>
        
        
        

        
        
    </head>

    <body></body>

</html>




